
  body, html {
    width: 100%;
    height: 100%;
    font-family: Apple Chancery, cursive;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #fff;
  }  
  
  section {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }

  .images {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
  }

  figure {
    width: 33%;
  } 
  
  img {
    width: 100%;
    height: 100%;

  }
  /* #ID {  
    display: flex
    justify-content:
     } */ 

   /* flex-start; Items align to the left side of the container
      flex-end; Items align to the right side of the container
      center; Items align at the center of the container
      space-between; Items display with equal space between them
      space-around; Items display with equal space around them */

 /* #ID {  
    display: flex
    align-items:
     } */ 

   /* flex-start; Items align to the Top of the container
      flex-end; Items align to the Bottom side of the container
      center; Items align at the vertical center of the container
      baseline; Items display at the baseline of the container
      stretch; Items are stretched to fit the container */
